[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/arbitrum-sdk"]
	path = lib/arbitrum-sdk
	url = https://github.com/OffchainLabs/arbitrum-sdk
